<div class="container">
  <table>
    <tr>
      <td>number of trees</td>
      <td>
        <input type="number" step="1"
          (change)="regenerate()"
          [(ngModel)]="numberOfTrees">
      </td>
    </tr>

    <tr>
      <td>buffer x</td>
      <td>
        <input type="number" step="1"
          (change)="regenerate()"
          [(ngModel)]="bufferX">
      </td>
    </tr>

    <tr>
      <td>buffer y</td>
      <td>
        <input type="number" step="1"
          (change)="regenerate()"
          [(ngModel)]="bufferY">
      </td>
    </tr>

    <tr>
      <td>square grid size</td>
      <td>
        <input type="number" step="1"
          (change)="regenerate()"
          [(ngModel)]="gridSizeSquares">
      </td>
    </tr>

    <tr>
      <td>max attempts</td>
      <td>
        <input type="number" step="1"
          [(ngModel)]="maxAttempts">
      </td>
    </tr>

    <tr>
      <td>
        <button (click)="regenerate()">recalculate</button>
      </td>
      <td>
        <pre>{{ message }}</pre>
      </td>
    </tr>

    <tr *ngFor="let legendRow of legend">
      <td class="legend-color-cell">
        <div
          class="legend-color"
          [style.background-color]="legendRow.color">
        </div>
      </td>
      <td>
        {{legendRow.description}}
      </td>
    </tr>
  </table>

  <canvas #canvas width="500" height="500"
    (click)="handleCanvasClick($event)">
  </canvas>
</div>

